
<p>
  <%= form.label :birth %>
  <%= form.text_field :birth %>
  <span class="info">100 caracteres máximo.</span>
</p>

<p>
  <%= form.label :gender %>
  <%= form.text_field :gender %>
  <span class="info">100 caracteres máximo.</span>
</p>

<p>
  <%= form.label :relation %>
  <%= form.check_box :relation_producer %><label class="radio">Produzco cultura</label>
  <%= form.check_box :relation_producer %><label class="radio">Produzco cultura</label>
  <label class="checkbox">Otra:</label>
  <%= form.text_area :relation_other %>
</p>

<p>
  <label>¿Qué entiendes por cultura y como te sitúas ante ella?</label>
  <%= form.text_area :whatsculture %>
</p>

<p>
  <%= form.label :books %>
  <%= form.text_area :books %>
</p>

<p>
  <%= form.label :films %>
  <%= form.text_area :films %>
</p>

<p>
  <%= form.label :musics %>
  <%= form.text_area :musics %>
</p>

<p>
  <%= form.label :movements %>
  <%= form.text_area :movements %>
</p>

<p>
  <%= form.label :influences %>
  <%= form.text_area :influences %>
</p>

<p>
  <%= form.label :ilike %>
  <%= form.text_area :ilike %>
</p>

<p>
  <%= form.label :dislike %>
  <%= form.text_area :dislike %>
</p>

<p>
  <label>¿En qué crees que tu trabajo es diferente a otros?</label>
  <%= form.radio_button :isdifferent, :nojefe %><label class="radio">No tengo jefe</label>
  <%= form.radio_button :isdifferent, :meorganizo %><label class="radio">Organizo mi tiempo</label>
  <label class="checkbox">Otro:</label>
  <%= form.text_area :isdifferent_other %>
</p>

<%#= form.label :isdifferent_desc %>
<%#= form.text_area :isdifferent_desc %>

<p>
  <label>Proyecto más gratificante/interesante</label>
  <%= form.text_area :proj_good %>
</p>
<p>
  <%= form.label :proj_good_media %>
  <%= form.text_area :proj_good_media, :class => 'upload_file',  :id => 'upload_proj_good' %>
  <span class="info">Copia y pega los enlaces a los recursos que consideres necesario
    (<%= link_to '¿Y si no lo tengo en la red?', not_online_path, :target => '_blank' %>)
  </span>
</p>

<p>
  <%= form.label :proj_bad %>
  <%= form.text_area :proj_bad %>
  <span class="info">Especificar en que momentos/fases ha habido problemas: producción, distribución, etc..</span>
</p>
<p>
  <%= form.label :proj_bad_media %>
  <%= form.text_area :proj_bad_att, :class => 'upload_file',  :id => 'upload_proj_bad' %>
  <span class="info">Copia y pega los enlaces a los recursos que consideres necesario
    (<%= link_to '¿Y si no lo tengo en la red?', not_online_path, :target => '_blank' %>)
  </span>
</p>

<p>
  <%= form.label :diffusion %>
  <%= form.text_area :diffusion %>
</p>

<p>
  <label>Valora la relevancia que tu le otorgas a los siguientes criterios en tu trayectoria
    profesional.</label>
<table>
  <thead>
  </thead>
  <% SurveyTumisma::TRAJECT_EVAL.each do |topic| %>
    <tr>
      <td><%= form.label("traject_eval_#{topic}") %></td>
      <% Survey::RELEVANCE.each do |relevance| %>
        <td class="<%= relevance %>">
          <%= form.radio_button "traject_eval_#{topic}", relevance %>
          <span class="tooltip"><%= t(relevance) %> </span>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>
</p>
<p>
  <label>Otros criterios de relevancia:</label>
  <%= form.text_area :traject_eval_desc %>
</p>
<p>
  <label>Valora la relevancia que sientes como impuesta respecto
    de los siguientes criterios en tu trayectoria profesional.</label>
<table>
  <thead>
  </thead>
  <% SurveyTumisma::TRAJECT_EVAL.each do |topic| %>
    <tr>
      <td><%= form.label("traject_eval_#{topic}") %></td>
      <% Survey::RELEVANCE.each do |relevance| %>
        <td class="<%= relevance %>">
          <%= form.radio_button "imposed_eval_#{topic}", relevance %>
          <span class="tooltip"><%= t(relevance) %> </span>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>
</p>
<p>
  <label>Otros criterios de relevancia:</label>
  <%= form.text_area :imposed_eval_desc %>
</p>




<p>
  <label>¿Crees que influye tu género u otro tipo de condicionantes en tu carrera profesional?</label>
  <%= form.radio_button :gender_influence, :yes %><label class="radio">Sí</label>
  <%= form.radio_button :gender_influence, :no %><label class="radio">No</label>
</p>

<p>
  <%= form.label :gender_influence_desc %>
  <%= form.text_area :gender_influence_desc %>
</p>