
<p>
  <%= form.label :laboral %>
  <%= form.check_box :laboral_entrepreneur %><%= form.label :laboral_entrepreneur, nil, :class => 'radio' %>
  <%= form.check_box :laboral_employe %><%= form.label :laboral_employe, nil, :class => 'radio' %>
  <%= form.check_box :laboral_various %><%= form.label :laboral_various, nil, :class => 'radio' %>
  <%= form.check_box :laboral_one %><%= form.label :laboral_one, nil, :class => 'radio' %>
  <%= form.check_box :laboral_black %><%= form.label :laboral_black, nil, :class => 'radio' %>
</p>

<p>
  <%= form.label :laboral_others %>
  <%= form.text_area :laboral_others %>
</p>

<p>
  <%= form.label :ajob %>
  <%= form.radio_button :ajob, :only %><%= form.label :ajob_only, nil, :class => 'radio' %>
  <%= form.radio_button :ajob, :onemore %><%= form.label :ajob_onemore, nil, :class => 'radio' %>
  <%= form.radio_button :ajob, :none %><%= form.label :ajob_none, nil, :class => 'radio' %>
</p>

<p>
  <%= form.label :ajob_time %>
  <%= form.radio_button :ajob_time, 'less15' %><%= form.label :ajob_time_less15, nil, :class => 'radio' %>
  <%= form.radio_button :ajob_time, '15to36' %><%= form.label :ajob_time_15to35, nil, :class => 'radio' %>
  <%= form.radio_button :ajob_time, '36to46' %><%= form.label :ajob_time_36to46, nil, :class => 'radio' %>
  <%= form.radio_button :ajob_time, 'more46' %><%= form.label :ajob_time_more46, nil, :class => 'radio' %>
</p>

<p>
  <%= form.label :ajob_xtra %>
<table>
  <thead>
  </thead>
  <%  SurveyDinero::AJOB_XTRA.each do |topic| %>
    <tr class="">
      <td><%= form.label(topic) %></td>
      <% Survey::FREQUENCY.each do |frequency| %>
        <td class="<%= frequency %> radio">
          <%= form.radio_button "ajob_xtra_#{topic}", frequency %>
          <span class="tooltip"><%= t(frequency) %> </span>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>
</p>

<p>
  <%= form.label :ajob_xtra_paid %>
  <%= form.radio_button :ajob_xtra_paid, 'yes' %><%= form.label :ajob_xtra_paid_yes, nil, :class => 'radio' %>
  <%= form.radio_button :ajob_xtra_paid, 'no' %><%= form.label :ajob_xtra_paid_no, nil, :class => 'radio' %>
  <%= form.radio_button :ajob_xtra_paid, 'less' %><%= form.label :ajob_xtra_paid_less, nil, :class => 'radio' %>
  <%= form.radio_button :ajob_xtra_paid, 'incl' %><%= form.label :ajob_xtra_paid_incl, nil, :class => 'radio' %>
</p>

<p>
  <%= form.label :ajob_money %>
  <% SurveyDinero::JOB_MONEY.each do |topic| %>
    <%= form.radio_button "ajob_money", topic %>
    <%= form.label topic, nil, :class => 'radio' %>
  <% end %>
</p>

<p>
  <%= form.label :ajob_decision %>
  <% SurveyDinero::AJOB_DECISION.each do |topic| %>
    <%= form.radio_button "ajob_decision", topic %>
    <%= form.label topic, nil, :class => 'radio' %>
  <% end %>
  <label class="checkbox">Otra:</label>
  <%= form.text_area :ajob_decision_other %>
</p>

<p>
  <%= form.label :gestation %>
  <%= form.text_area :gestation %>
</p>

<p>
  <%= form.label :ajob_vocation %>
  <%= form.radio_button :ajob_vocation, :yes %><%= form.label :ajob_vocation_yes, nil, :class => 'radio' %>
  <%= form.radio_button :ajob_vocation, :no %><%= form.label :ajob_vocation_no, nil, :class => 'radio' %>
</p>

<p>
  <%= form.label :ajob_vocation_money %>
  <% SurveyDinero::AJOB_VOCATION_MONEY.each do |topic| %>
    <%= form.check_box "ajob_vocation_money_#{topic}" %>
    <label class="checkbox"><%= SurveyDinero.human_attribute_name("ajob_vocation_money_#{topic}") %></label>
  <% end %>
</p>

<p>
  <label>Otras fuentes o activos (tiempo, espacios, infraestructuras, equipos, etc..)</label>
  <%= form.text_area :ajob_vocation_money_desc %>
</p>

<p>
  <%= form.label :grants %>
  <%= form.radio_button :grants, :yes %><%= form.label :grants_yes, nil, :class => 'radio' %>
  <%= form.radio_button :grants, :no %><%= form.label :grants_no, nil, :class => 'radio' %>
</p>

<p>
  <%= form.label :grants_who %>
  <%= form.text_area :grants_who %>
</p>

<p>
  <%= form.label :grants_bad %>
  <% SurveyDinero::GRANTS_BAD.each do |topic| %>
    <%= form.check_box "grants_bad_#{topic}" %>
    <label class="checkbox"><%= SurveyDinero.human_attribute_name("grants_bad_#{topic}") %></label>
  <% end %>
</p>

<p>
  <%= form.label :grants_bad_desc %>
  <%= form.text_area :grants_bad_desc %>
</p>

<p>
  <%= form.label :bjob %>
  <%= form.radio_button :bjob, :yes %><%= form.label :bjob_yes, nil, :class => 'radio' %>
  <%= form.radio_button :bjob, :no %><%= form.label :bjob_no, nil, :class => 'radio' %>
</p>

<p>
  <%= form.label :bjob_which %>
  <%= form.text_area :bjob_which %>
</p>

<p>
  <%= form.label :bjob_time %>
  <%= form.radio_button :bjob_time, 'less15' %><%= form.label :bjob_time_less15, nil, :class => 'radio' %>
  <%= form.radio_button :bjob_time, '15to36' %><%= form.label :bjob_time_15to35, nil, :class => 'radio' %>
  <%= form.radio_button :bjob_time, '36to46' %><%= form.label :bjob_time_36to46, nil, :class => 'radio' %>
  <%= form.radio_button :bjob_time, 'more46' %><%= form.label :bjob_time_more46, nil, :class => 'radio' %>
</p>

<p>
  <%= form.label :bjob_money %>
  <% SurveyDinero::JOB_MONEY.each do |topic| %>
    <%= form.radio_button "bjob_money", topic %>
    <%= form.label topic, nil, :class => 'radio' %>
  <% end %>
</p>

<p>
  <label>¿Hay momentos del año con más trabajo? ¿Cuáles?</label>
  <%= form.text_area :lot_of_work %>
</p>

<p>
  <label>¿Ganas suficiente para criar hijxs?</label>
  <%= form.text_area :money_to_family %>
</p>