<% title "Participantes" %>

<table>
  <thead><tr>
      <td>Nombre</td>
      <td>Email</td>
      <td>Fecha de alta</td>
      <td>Cuestionario completo</td>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.username, admin_user_path(user) %></td>
        <td><%= user.email %></td>
        <td><%= user.created_at.fecha %></td>
        <td><%= user.survey_completed? ? 'Si' : 'No' %>
          <% form_for(user, :url => admin_user_path(user)) do |f|  %>
            <input id="user_survey_completed" name="user[survey_completed]" type="hidden" value="<%= !user.survey_completed? %>" />
            <input name="next_url" type="hidden" value="<%= admin_users_path %>" />
            <%= f.submit "Marcar como #{user.survey_completed? ? 'NO ': ''}completado" %>
          <% end %>
        </td>
        <td class="actions">
          <%= link_to 'Ver', admin_user_path(user)  %>
          <%= link_to 'Editar', edit_admin_user_path(user)  %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>