<% title "Participante: #{@user.username}" %>

<%= user_surveys(@user) %>
  <br/><br/><br/>
<h2>Datos</h2>
<% form_for(@user, :url => admin_user_path(@user)) do |f|  %>
  <input id="user_survey_completed" name="user[survey_completed]" type="hidden" value="<%= !@user.survey_completed? %>" />
  <%= f.submit "Marcar como #{@user.survey_completed? ? 'NO ': ''}completado"  %><% end %>

<div class="properties">
  <p><label>Completado:</label><%= @user.survey_completed? ? 'Sí' : 'No' %></p>
  <p><label>Nombre:</label><%= @user.username %></p>
  <p>
    <label>Email: </label><%= @user.email %>
  </p>
  <p>
    <label>Mantenerme informada por email del proceso de la coinvestigación y de eventos relacionados con la misma:</label>
    <%= @user.request_info? ? 'Sí' : 'No' %>
  </p>
  <p>
    <label>Permitir que los datos de 'Presentación' (y sólo éstos) aparezcan en la cartografía del territorio andaluz:</label>
    <%= @user.allow_publish? ? 'Sí' : 'No' %>
  </p>
  <br/>
</div>

<br/>
