
<p>
  <%= form.label :name %>
  <%= form.text_field :name %>
  <span class="info">Puedes escribir varios, separados por comas.
    250 caracteres máximo.</span>
</p>

<p>
  <%= form.label :page_url %>
  <%= form.text_field :page_url %>
  <span class="info">Puedes escribir varias. 250 caracteres máximo.</span>
</p>

<p>
  <%= form.label :icon %>
  <%= form.text_field :icon, :class => 'upload_file', :id => 'icon' %>
</p>

<p>
  <%= form.label :location %>
  <%= form.text_field :location %>
  <span class="info">250 caracteres máximo.</span>
</p>


<p>
  <%= form.label :indi_colective %>
  <%= form.radio_button :indi_colective, :individual %><label class="radio">Proyecto individual</label>
  <%= form.radio_button :indi_colective, :proyecto %><label class="radio">Proyecto colectivo</label>
  <%= form.radio_button :indi_colective, :ambos %><label class="radio">Ambos</label>
</p>

<p>
  <label>¿En qué ámbitos desempeñas alguna actividad? Usa las cajas de texto para dar más información...</label>
  
<table>
  <tr><td></td><td><span class="info">250 caracteres máximo en cada caja de texto.</span></td></tr>
  <% SurveyPresentacion::AMBITOS.each do |name| %>
    <tr>
      <td><%= form.check_box "activity_#{name}" %>&nbsp;
        <%= form.label name %></td>
      <td><%= form.text_field name %></td>
    </tr>
  <% end %>

</table>

</p>

<p>
  <%= form.label :interest %>
  <%= form.text_area :interest %>
</p>