
<p>
  <%= form.label :name %>
  <%= form.text_field :name %>
  <span class="info">Puedes escribir varios, separados por comas.
    250 caracteres máximo.</span>
</p>

<p>
  <label>Web(s) / blog(s)</label>
  <%= form.text_area :page_url %>

</p>

<p>
  <%= form.label :icon %>
  <%= form.text_area :icon, :class => 'upload_file', :id => 'icon' %>
  <span class="info">Puedes un enlaces desde la web, o...</span>
  <br/>
  <%= form.file_field :avatar %>
  <span class="info">...subir una imágen siempre que no sea mayor de 1Mb.</span>

  <% if @survey.avatar %>
    <label>Imagen / logo /gráfica actual:</label>
    <%= image_tag @survey.avatar.url(:medium) %>
  <% end %>
</p>

<p>
  <%= form.label :location %>
  <%= form.text_field :location %>
  <span class="info">250 caracteres máximo.</span>
</p>


<p>
  <%= form.label :indi_colective %>
  <%= form.radio_button :indi_colective, :individual %><label class="radio">Proyecto individual</label>
  <%= form.radio_button :indi_colective, :proyecto %><label class="radio">Proyecto colectivo</label>
  <%= form.radio_button :indi_colective, :ambos %><label class="radio">Ambos</label>
</p>

<p>
  <label>¿En qué ámbitos desempeñas alguna actividad? Usa las cajas de texto para dar más información...</label>

<table>
  <tr><td></td><td><span class="info">250 caracteres máximo en cada caja de texto.</span></td></tr>
  <% SurveyPresentacion::AMBITOS.each do |name| %>
    <tr>
      <td><%= form.check_box "activity_#{name}" %>&nbsp;
        <%= form.label name %></td>
      <td><%= form.text_field name %></td>
    </tr>
  <% end %>

</table>

</p>

<p>
  <%= form.label :interest %>
  <%= form.text_area :interest %>
</p>