<% title("Presentación") %>

<% form_for @survey do |form| %>
  <%#= next_step cuestionario_path(:id => 'presentacion') %>

  <% if current_user %>
    <p class="submit">
      <%= form.submit "Guardar" %><span><%= t(:submit_info) %></span>
    </p>
  <% else %>
    <%= render 'surveys/preview' %>
  <% end %>

    <%= render 'presentacion', :form => form %>

  <% if current_user %>
    <p class="submit bottom">
      <%= form.submit "Guardar" %><span><%= t(:submit_info) %></span>
    </p>
  <% end %>

<% end %>
