<% if current_user %>
  <span style="display: none"><%= t(:welcome, :name => current_user.username) %></span>
  <%= link_to 'Salir', logout_path, :id => 'logout' %>
  <%= link_to 'Editar perfil', edit_user_path, :id => 'edit_profile' %>
<% else %>
  <%= link_to 'Registrarse', new_user_path, :id => 'signup' %>
  <%= link_to 'Entrar', login_path, :id => 'login' %>
<% end %>
